/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #444;
    color: white;
}

nav {
    margin-top: 10px;
}

.nav-button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: 0.3s;
}

.nav-button:hover {
    background-color: #0056b3;
}

main {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

#chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid #000;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.selected {
    border: 2px solid red;
}

#move-history-container {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #444;
    color: white;
    text-align: center;
    width: 100%;
}

/* Dark Mode */
.dark-mode {
    background-color: #222;
    color: #f0f0f0;
}

.dark-mode header,
.dark-mode footer {
    background-color: #111;
}

.dark-mode .nav-button {
    background-color: #666;
}

.dark-mode .nav-button:hover {
    background-color: #888;
}

.dark-mode #chessboard-container,
.dark-mode #move-history-container {
    background-color: #333;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}
